{% extends 'exam/exam.html.twig' %}
{% block examinator %}
    <span class="examinator-title">Вопрос #{{ question_number }}:</span><br>
    <span class="examinator-title">{{ question_data.question }}</span>
{% endblock %}
{% block user_controls %}
    <div class="row justify-content-center">
        <div class="col-auto">
            {{ form_start(form) }}
            {% for answer in question_data.answers %}
                {% set id =  answer.id %}

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="{{ answer.id }}" id="{{ answer.id }}" >
                    <label class="form-check-label" for="{{ answer.id }}">
                        {{ answer.value }}
                    </label>
                </div>
            {% endfor %}
            <div class="form-group mt-4 btn-group">
                <button id="btn_next" class="btn btn-dark">Далее</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

    <script>
        $('#btn_next').on('click', (e) => {
            e.preventDefault();
            let answerIds = [];

            $('input[type=checkbox]:checked').each(function (i, el) {
                answerIds.push($(el).val());
            })

            $('#next_question_answerIds').val(answerIds);
            $('form[name=next_question]').submit();
        })
    </script>
{% endblock %}
